/* Бокова панель навігації */
.sidebar-menu {
  /* основний контейнер бокового меню */
  width: 250px; /* ширина бокового меню */
  height: 100vh; /* висота на всю висоту вікна */
  background-color: #f9f9fd; /* колір фону */
  position: fixed; /* фіксована позиція */
  top: 0; /* відступ зверху */
  left: 0; /* відступ зліва */
  padding: 20px; /* внутрішні відступи */
  border-right: 1px solid #03a9f4; /* права межа */
}
.sidebar-wrapper {
  /* обгортка всередині (можна використати для додаткових стилів або скролу) */
  overflow-y: auto; /* вертикальна прокрутка, якщо вміст перевищує висоту */
  height: 100%; /* висота на всю висоту батьківського контейнера */
}
.sidebar-list {
  /* сам список пунктів меню */
  list-style-type: none; /* без маркерів */
  padding: 0; /* без внутрішніх відступів */
  margin: 0; /* без зовнішніх відступів */
}
.sidebar-item {
  /* кожен пункт списку (<li>)  */
  margin-bottom: 8px; /* відступ між пунктами */
}
.sidebar-link {
  /* посилання в пункті меню (<a>)  */
  display: block; /* блочний елемент для повної ширини */
  padding: 5px; /* внутрішні відступи */
  color: #2f2f37; /* колір тексту */
  text-decoration: none; /* без підкреслення */
  border-radius: 4px; /* закруглені кути */
  transition: background-color 0.3s ease; /* плавний перехід фону */
}
.sidebar-link:hover {
  /* Стилі для посилання меню при наведенні курсора миші */
  background-color: #03a9f4; /* змінює фон на синій при наведенні */
  color: white; /* змінює колір тексту на білий при наведенні */
}

/* Основний контейнер для контенту */
.container {
  /* основний контейнер для контенту */
  box-sizing: border-box; /* враховує відступи та межі в ширині та висоті */
  width: calc(
    100% - 270px
  ); /* ширина на всю ширину вікна, мінус ширина бокового меню */
  margin-left: 270px; /* відступ зліва, щоб не перекривати бокове меню */
  padding: 20px; /* внутрішні відступи */
  background-color: #f9f9fd; /* колір фону */
  min-height: 100vh; /* мінімальна висота на всю висоту вікна */
}

/*---------------------------------------------------------------------------------------------*/
/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9f9fd;
  line-height: 1.5;
  color: #2f2f37;
  font-size: 18px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: goldenrod;
}
h1::before,
h1::after {
  width: 100px;
  height: 2px;
  background-color: red;
  content: "";
}
h1:hover::before,
h1:hover::after {
  background-color: #03a9f4;
}

h2 {
  color: blue;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  color: red;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ql-custom-iframe {
  width: 100vh;
  height: 500px;
}

code {
  background-color: rgba(135, 131, 120, 0.15);
  padding: 2px 2px;
  border-radius: 4px;
  color: #2f2f37;
}

img {
  width: 100vh;
} */

/*<p class="ql-align-justify">*/
/* .ql-align-justify {
  text-align: justify;
} */

/*<div class="ql-syntax-block">*/
/* .ql-syntax-block {
  position: relative;
} */

/*<pre class="ql-syntax hljs language-bnf">*/
/* .ql-syntax {
  position: relative;
  font-family: "Fira Code", monospace;
  padding: 24px 56px 24px 24px;
  color: inherit;
  background-color: rgb(236, 239, 241);
  border-radius: 16px;

  white-space: pre-wrap;
} */

/*<span class="hljs-attribute">*/
/* .hljs-attribute,
.hljs-string {
  color: #98c379;
}

.ql-blockquote {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 24px;
  border: none;
  border-radius: 16px;
  background-color: rgb(236, 244, 248);
  overflow: visible;
  white-space: pre-wrap;
} */

/*----------Global Container----------*/
/* Обнулюємо дефолтні маржини від браузера для заголовків та параграфів тексту */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
} */
/* Обнулюємо дефолтні маржини та лівий падінг для списків */
/* ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
} */
/* Скидаємо дефолтне підкреслення для посилань */
/* a {
  text-decoration: none;
  color: inherit;
}
.container {
  margin-left: 250px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #03a9f4;
}
/*----------Aside menu----------*/
/*.menu {
  width: 250px;
  height: 100vh;
  background-color: #f9f9fd;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  border-right: 1px solid #03a9f4;
}
section {
  margin-left: 250px;
  padding: 0 20px;
} */
