/* Скидаємо стилі браузера */
* {
  /* Скидаємо всі стилі браузера */
  margin: 0; /* скидаємо зовнішні відступи */
  padding: 0; /* скидаємо внутрішні відступи */
  box-sizing: border-box; /* враховуємо відступи та межі в ширині та висоті */
}
body {
  /* Основні стилі для тіла документа */
  min-height: 100vh; /* мінімальна висота на всю висоту вікна */
  background-color: #f9f9fd; /* колір фону */
  line-height: 1.5; /* міжрядковий інтервал */
  color: #302f37; /* колір тексту */
  font-size: 16px; /* розмір шрифту */
}

/* Бокова панель навігації */
.sidebar-menu {
  /* основний контейнер бокового меню */
  width: 250px; /* ширина бокового меню */
  height: 100vh; /* висота на всю висоту вікна */
  background-color: #f9f9fd; /* колір фону */
  position: fixed; /* фіксована позиція */
  top: 0; /* відступ зверху */
  left: 0; /* відступ зліва */
  padding: 20px; /* внутрішні відступи */
  border-right: 1px solid #03a9f4; /* права межа */
}
.sidebar-wrapper {
  /* обгортка всередині (можна використати для додаткових стилів або скролу) */
  overflow-y: auto; /* вертикальна прокрутка, якщо вміст перевищує висоту */
  height: 100%; /* висота на всю висоту батьківського контейнера */
}
.sidebar-list {
  /* сам список пунктів меню */
  list-style-type: none; /* без маркерів */
  padding: 0; /* без внутрішніх відступів */
  margin: 0; /* без зовнішніх відступів */
}
.sidebar-item {
  /* кожен пункт списку (<li>)  */
  margin-bottom: 8px; /* відступ між пунктами */
  line-height: 1; /* міжрядковий інтервал */
  font-size: 1.1em; /* розмір шрифту пунктів меню */
  font-weight: 500; /* напівжирний шрифт */
  color: #2f2f37; /* колір тексту пунктів меню */
  transition: background-color 0.3s ease; /* плавний перехід фону */
  border-radius: 4px; /* закруглені кути пунктів меню */
  padding: 5px; /* внутрішні відступи для пунктів меню */
  background-color: #f9f9fd; /* колір фону пунктів меню */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тінь для пунктів меню */
  border: 1px solid transparent; /* прозора межа для пунктів меню */
}
.sidebar-link {
  /* посилання в пункті меню (<a>)  */
  display: block; /* блочний елемент для повної ширини */
  padding: 5px; /* внутрішні відступи */
  color: #2f2f37; /* колір тексту */
  text-decoration: none; /* без підкреслення */
  border-radius: 4px; /* закруглені кути */
  transition: background-color 0.3s ease; /* плавний перехід фону */
}
.sidebar-link:hover {
  /* Стилі для посилання меню при наведенні курсора миші */
  background-color: #03a9f4; /* змінює фон на синій при наведенні */
  color: white; /* змінює колір тексту на білий при наведенні */
}

/* Основний контейнер для контенту (section) */
.container {
  width: calc(
    100% - 250px
  ); /* ширина на всю ширину вікна, мінус ширина бокового меню */
  margin-left: 250px;
  margin-bottom: 0; /* відступ зліва, щоб не перекривати бокове меню */
  padding: 10px 20px; /* внутрішні відступи */
  background-color: #f9f9fd; /* колір фону */
  align-items: center; /* вирівнювання елементів по центру вертикально */
}
/* Заголовки в контейнері (h1) */
.side-title {
  text-align: center; /* вирівнювання заголовка по центру */
  color: goldenrod; /* колір заголовка */
  font-size: 1.5em; /* розмір шрифту заголовка */
  font-weight: bold; /* жирний шрифт */
  margin-bottom: 20px; /* відступ знизу */
  text-transform: uppercase; /* великі літери */
  letter-spacing: 1px; /* міжбуквений інтервал */
  padding: 10px; /* внутрішні відступи */
  background-color: #f0f0f0; /* колір фону заголовка */
  border-radius: 8px; /* закруглені кути заголовка */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тінь для заголовка */
  margin-top: 20px; /* відступ зверху */
  margin-bottom: 20px; /* відступ знизу */
  display: flex; /* флекс-контейнер для вирівнювання елементів */
  justify-content: center; /* горизонтальне вирівнювання по центру */
  align-items: center; /* вертикальне вирівнювання по центру */
  flex-direction: column; /* вертикальне вирівнювання елементів */
  border: 1px solid #03a9f4; /* межа навколо заголовка */
  border-radius: 8px; /* закруглені кути заголовка */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тінь для заголовка */
}
/* Заголовок контейнера (div) */
.container-content {
  /* заголовок контейнера (div) */
  display: block; /* флекс-контейнер для вирівнювання елементів */
  width: 1440px; /* ширина контейнера */
  margin: 0; /* скидаємо зовнішні відступи */
  align-items: center; /* вертикальне вирівнювання по центру */
  justify-content: center; /* горизонтальне вирівнювання по центру */
}
/* Заголовок контейнера (h2) */
.container-title {
  color: blue; /* колір заголовка */
  text-align: center; /* вирівнювання заголовка по центру */
  margin-bottom: 20px; /* відступ знизу */
  font-size: 1.2em; /* розмір шрифту заголовка */
  font-weight: bold; /* жирний шрифт */
  text-transform: uppercase; /* великі літери */
  letter-spacing: 1px; /* міжбуквений інтервал */
  padding: 10px; /* внутрішні відступи */
  background-color: #f0f0f0; /* колір фону заголовка */
  border-radius: 8px; /* закруглені кути заголовка */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тінь для заголовка */
}

h3 {
  /* Заголовки третього рівня */
  color: #2f2f37; /* колір тексту */
  font-size: 1.3em; /* розмір шрифту */
  font-weight: bold; /* жирний шрифт */
  margin-bottom: 10px; /* відступ знизу */
  padding: 5px; /* внутрішні відступи */
  padding-left: 20px;
}
h4 {
  /* Заголовки четвертого рівня */
  color: #2f2f37; /* колір тексту */
  font-size: 1em; /* розмір шрифту */
  font-weight: bold; 
  margin-top: 10px; /* відступ зверху */
  margin-bottom: 10px; /* відступ знизу */
  padding: 5px; /* внутрішні відступи */
}

ul {
  /* Списки */
  list-style-type: disc; /* маркери списку */
  padding-left: 30px; /* відступ зліва */
  margin-bottom: 20px; /* відступ знизу */
}
ol {
  /* Нумеровані списки */
  list-style-type: decimal; /* нумерація списку */
  padding-left: 30px; /* відступ зліва */
  margin-bottom: 20px; /* відступ знизу */
}
p {
  /* Параграфи */
  margin-bottom: 15px; /* відступ знизу */
  line-height: 1.6; /* міжрядковий інтервал */
}
img {
  /* Зображення */
  max-width: 100%; /* максимальна ширина зображення */
  height: auto; /* автоматична висота зображення */
  display: block; /* блочний елемент */
  margin: 0 auto; /* вирівнювання по центру */
  border-radius: 8px; /* закруглені кути зображення */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* тінь для зображення */
  margin-bottom: 20px; /* відступ знизу */
  border: 1px solid #03a9f4; /* межа навколо зображення */
  padding: 1px; /* внутрішні відступи */
  background-color: black; /* колір фону зображення */
}